@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
	height                : 100%;
    background-size       : cover;
    color                 : #444;
    font-family           : 'Lato', sans-serif;
}
@media screen and (max-width: 600px) {
    .container {
        padding           : 0px;
    }
}
.banner {
	width                 :100%;
	height                : auto;
	background-color      : green;
	margin-top            : 50px;
}
.bg-overlay {
    background            : linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.3)), url("../image/1.jpg");
    background-repeat     : no-repeat;
    background-size       : cover;
    background-position   : center center;
    color                 : #fff;
    height                : 300px;
    padding-top           : 50px;
    border-radius         : 3px;
}

.desc {
	font-size             : 19px;
	font-weight           : 200;
	line-height           : 1.5;
}

.bg-overlay-small {
    background             : linear-gradient(rgba(83, 84, 81, 0.8), rgba(53, 54, 62, 0.15)), url("../image/tuktuk.png");
    background-repeat       : no-repeat;
    background-size         : cover;
    background-position     : center center;
    color                   : #fff;
    height                  : 400px;
    padding-top             : 50px;
    margin-top              : 1px;
    background-size         : cover;
    background-position     : center;
    border-radius           : 0px;
}
.hidden{
	display                 : block ! important;
}
.mypara {
	font-size               : 20px;
	font-weight             : 300;
}
.myh4 {
	font-size               : 22px;
	font-size               : 500;
	text-transform          : uppercase;
}