
footer {
	background-color:	rgba(24, 90, 3, 0.88);
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: white;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}