/*by Amoogli.com*/
.bs-calltoaction{
    position        : relative;
    width           : auto;
    padding         : 15px 25px;
    border          : 1px solid black;
    margin-top      : 10px;
    margin-bottom   : 10px;

}

.bs-calltoaction > .row{
    display         :table;
    width           : calc(100% + 30px);
}
     
.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float           : none;
    display         : table-cell;
    vertical-align  : middle;
}

.cta-contents{
    padding-top     : 10px;
    padding-bottom  : 10px;
}

.cta-title{
    margin          : 0 auto 15px;
    padding         : 0;
}

.cta-desc{
    padding         : 0;
}

.cta-desc p:last-child{
    margin-bottom   : 0;
}

.cta-button{
    padding-top     : 10px;
    padding-bottom  : 10px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display     :   block;
        width       : auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float       : none;
        display     :   block;
        vertical-align: middle;
        position    : relative;
    }

    .cta-contents{
        text-align  : center;
    }
}

.bs-calltoaction.bs-calltoaction-default{
    color           : #333;
    background-color: #fff;
    border-color    : #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
    color           : #fff;
    background-color: #337ab7;
    border-color    : #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color           : #fff;
    background-color: #5bc0de;
    border-color    : #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color           : #fff;
    background-color: #5cb85c;
    border-color    : #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color           : #fff;
    background-color: #f0ad4e;
    border-color    : #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color           : #fff;
    background-color: #d9534f;
    border-color    : #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color    : #fff;
}
/*footer*/
.full {
    width           : 100%;    
}
.gap {
    height          : 30px;
    width           : 100%;
    clear           : both;
    display         : block;
}
.footer {
    background      : #EDEFF1;
    height          : auto;
    padding-bottom  : 30px;
    position        : relative;
    width           : 100%;
    border-bottom   : 1px solid #CCCCCC;
    border-top      : 1px solid #DDDDDD;
}
.footer p {
    margin          : 0;
}
.footer img {
    max-width       : 100%;
}
.footer h3 {
    border-bottom   : 1px solid #BAC1C8;
    color           : #54697E;
    font-size       : 18px;
    font-weight     : 600;
    line-height     : 27px;
    padding         : 40px 0 10px;
    text-transform  : uppercase;
}
.footer ul {
    font-size       : 13px;
    list-style-type : none;
    margin-left     : 0;
    padding-left    : 0;
    margin-top      : 15px;
    color           : #7F8C8D;
}
.footer ul li a {
    padding         : 0 0 5px 0;
    display         : block;
}
.footer a {
    color           : #78828D
}
.supportLi h4 {
    font-size       : 20px;
    font-weight     : lighter;
    line-height     : normal;
    margin-bottom   : 0 !important;
    padding-bottom  : 0;
}
.newsletter-box input#appendedInputButton {
    background      : #FFFFFF;
    display         : inline-block;
    float           : left;
    height          : 30px;
    clear           : both;
    width           : 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image : -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow       : 0 1px 0 #B4B3B3;
}
.social li {
    background       : none repeat scroll 0 0 #B5B5B5;
    border           : 2px solid #B5B5B5;
    -webkit-border-radius       : 50%;
    -moz-border-radius          : 50%;
    -o-border-radius            : 50%;
    -ms-border-radius           : 50%;
    border-radius               : 50%;
    float                       : left;
    height                      : 36px;
    line-height                 : 36px;
    margin                      : 0 8px 0 0;
    padding                     : 0;
    text-align                  : center;
    width                       : 36px;
    transition                  : all 0.5s ease 0s;
    -moz-transition             : all 0.5s ease 0s;
    -webkit-transition          : all 0.5s ease 0s;
    -ms-transition              : all 0.5s ease 0s;
    -o-transition               : all 0.5s ease 0s;
}
.social li:hover {
    transform                   : scale(1.15) rotate(360deg);
    -webkit-transform           : scale(1.1) rotate(360deg);
    -moz-transform              : scale(1.1) rotate(360deg);
    -ms-transform               : scale(1.1) rotate(360deg);
    -o-transform                : scale(1.1) rotate(360deg);
}
.social li a {
    color                       : #EDEFF1;
}
.social li:hover {
    border                      : 2px solid #2c3e50;
    background                  : #2c3e50;
}
.social li a i {
    font-size                   : 16px;
    margin                      : 0 0 0 5px;
    color                       : #EDEFF1 !important;
}
.footer-bottom {
    background                  : #E3E3E3;
    border-top                  : 1px solid #DDDDDD;
    padding-top                 : 10px;
    padding-bottom              : 10px;
}
.footer-bottom p.pull-left {
    padding-top                 : 6px;
}
.payments {
    font-size                   : 1.5em;   
}
/*client*/
.btn-radio {
    width                       : 100%;
}
.img-radio {
    opacity                     : 0.80;
    margin-bottom               : 7px;
}

.space-20 {
    margin-top                  : 17px;
}
/*scroll top */
.scroll-top-wrapper {
    position                    : fixed;
    opacity                     : 0;
    visibility                  : hidden;
    overflow                    : hidden;
    text-align                  : center;
    z-index                     : 99999999;
    background-color            : #777777;
    color                       : #eeeeee;
    width                       : 30px;
    height                      : 30px;
    line-height                 : 30px;
    right                       : 30px;
    bottom                      : 30px;
    padding-top                 : 2px;
    border-top-left-radius      : 10px;
    border-top-right-radius     : 10px;
    border-bottom-right-radius  : 10px;
    border-bottom-left-radius   : 10px;
    -webkit-transition          : all 0.5s ease-in-out;
    -moz-transition             : all 0.5s ease-in-out;
    -ms-transition              : all 0.5s ease-in-out;
    -o-transition               : all 0.5s ease-in-out;
    transition                  : all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color            : #888888;
}
.scroll-top-wrapper.show {
    visibility                  : visible;
    cursor                      : pointer;
    opacity                     : 1.0;
}
.scroll-top-wrapper i.fa {
    line-height                 : inherit;
}

/*end scroll top*/
.hidden {
    display                     : block ! important;
}